



<h3>Is our app easy to use?</h3>
<rating [(ngModel)]="stars1"></rating>
<br />
<br />

<h3>Did our app save you time?</h3>
<rating [(ngModel)]="stars2"></rating>
<br />
<br />

<h3>Did Bellhapp improve your overall dining experience?</h3>
<rating [(ngModel)]="stars3"></rating>
<br />
<br />

<h3>Are there certain local restaurants you want to see using Bellhapp?</h3>
<md-input></md-input>
<br />
<br />

<h3>What did you not like about Bellhapp?</h3>
<textarea rows="4" cols="70">
</textarea>
<br />
<br />

<h3>Any other feedback? Or tell us about a bug you ran into.</h3>
<textarea rows="4" cols="70">
</textarea>
<br />
<br />
<br />

<button md-raised-button class="submit">SUBMIT</button>