h3 {
    margin-bottom: 0px;
}

md-input {
    width: 75%;
}

textarea {
     border: 1px solid black;
     font-size: medium;
     width: 75%;
}

#submitButton {
    background-color: #4CAF50;
    
    /*weird glitch where setting width makes page height longer every click*/
    /*width: 75%;*/
}






/*Pop up module*/
div.dialog-div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.58);
    z-index: 10;
}
md-card.dialog {
    margin-top: 30vh;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: grey;  /*is grey good?*/
}
