<h1>
  {{title}}
</h1>
<hr />
<br />
 
<h2>Usability <rating [(ngModel)]="starsCount"></rating></h2>
<p>How intuitive and easy to use was the UI?</p>
<hr />
<br />



<md-grid-list class="button-grid" cols="2" rowHeight="100px">
  <md-grid-tile colspan="1">
      <div>
        <h3>Easy to use?</h3>
        <rating [(ngModel)]="starsCount"></rating>
      </div>
  </md-grid-tile>

  <md-grid-tile colspan="1">
    <div>
      <h3>Saved time?</h3>
      <rating [(ngModel)]="starsCount"></rating>
    </div>
  </md-grid-tile>

  <md-grid-tile colspan="1">
    <div>
      <h3>Waitstaff communication?</h3>
      <rating [(ngModel)]="starsCount"></rating>
    </div>
  </md-grid-tile>

  <md-grid-tile colspan="1">
    <div>
      <h3>Mobile access?</h3>
      <rating [(ngModel)]="starsCount"></rating>
    </div>
  </md-grid-tile>

  <md-grid-tile colspan="2">
    <div class="logout">
      <h3>Overall dining experience</h3>
      <rating [(ngModel)]="starsCount"></rating>
    </div>
  </md-grid-tile>
</md-grid-list>
 
