div.dialog-div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.58);
    z-index: 10;
}

md-card.dialog {
    margin-top: 30vh;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: grey;  /*is grey good?*/
}



div {
    text-align: center;
    background: buttonface;
    width: 95%;
    height: 95%;
    border-radius: 2px;
}

h3 {
    margin-bottom: 5px;
}

button {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

span.table-id {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.fullWidth {
    width: 97.5%;
}

.submit {
    background-color: #4CAF50;
}

